.mais-vendidos {
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: -50px;
  margin: auto;
  padding-bottom: 6rem;
}


.mais-vendidos h1 {
  margin-bottom: 5rem;
  color: #f08080; 
  font-size: 3.5rem;
  width: 100%;
  box-sizing: border-box;
}


.mais-vendidos .products {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem; 
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}


.product {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  width: calc(33.333% - 0.67rem);
  box-sizing: border-box;
}

/* Estilo da imagem do produto */
.mais-vendidos .product img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.mais-vendidos .product-info {
  margin-top: 1rem;
}

/* Estilo do preço */
.mais-vendidos .price {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}


.mais-vendidos .buy-now {
  background-color: #bd6363; 
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.mais-vendidos .buy-now:hover {
  background-color: #d87272; /* Rosa forte ao passar o mouse */
}

/* Responsividade */
@media (max-width: 1024px) {
  .mais-vendidos .product {
    flex: 1 1 calc(33.333% - 1rem); 
  }
}

@media (max-width: 768px) {
  .mais-vendidos .product {
    flex: 1 1 calc(50% - 1rem); 
  }

  .mais-vendidos .buy-now {
    padding: 0.75rem 1.25rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .mais-vendidos .product {
    flex: 1 1 100%; 
  }

  .mais-vendidos .buy-now {
    padding: 0.75rem 1rem; 
    font-size: 0.9rem;
  }
}
