.product {
  border: 5px solid #eee;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  margin: 2rem auto; /* Centraliza o contêiner do produto */
  width: 80%; /* ajuste conforme necessário */
  max-width: 1000px; /* Limita a largura máxima */
  box-sizing: border-box; /* Inclui a borda e o padding na largura total */
}

.product img {
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove o espaço em branco ao redor da imagem */
  margin: 0 auto; /* Centraliza a imagem dentro do contêiner */
}

.buy-now {
  background-color: #c58b8b; /* Rosa forte */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.buy-now:hover {
  background-color: #e07b7b; /* Rosa um pouco mais escuro */
}
