.sobre {
 
  text-align: center;
  background-color: #f8f0f5; 
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-bottom: 10rem;
}

.sobre h1 {
  color: #f08080; 
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.sobre p {
  max-width: 60%;
  margin: 0 auto;
  color: #333;
  font-size: 1.2rem; 
  line-height: 1.6;
  font-weight: bold;
  margin-top: 2rem; 
  margin-bottom: 0; 
}


@media (max-width: 768px) {
  .sobre h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem; 
  }

  .sobre p {
    font-size: 1.1rem;
    padding: 0 1rem;
    margin-top: 1rem; 
  }
}


@media (max-width: 480px) {
  .sobre h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem; 
  }

  .sobre p {
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 1rem; 
  }
}
